:root {
    --theme-colour: #2196F3;

    --text-primary: #212121;
    --text-secondary: #757575;
    
    --primary-font: "Roboto";
    --secondary-font: "Raleway";
}

body {
    font-family: var(--primary-font);
}

ul,li {
    list-style: none;
    margin: 0px;
}

a {text-decoration: none;}

address {font-style: normal;}

h1,h2,h3,p{
    margin: auto;
}

img{
    display: block;
    margin: 0;
}

ul,li{
    padding: 0px;
}

h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-primary);
    }
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
        
    }

/*Стилизирование хедера*/

    .header{
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0px;
        top: 80px;
    }
    .head{
        border-bottom: 1px solid #ECECEC;
    }
   
    .logo{
        font-family: var(--secondary-font), sans-serif;
        font-style: normal;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        margin-right: 93px;
        padding-top: 24px;
        padding-bottom: 25px;  
        }

    .nav-links{
        display: flex;
        margin: 0;
        margin-right: 331px;
    }
    .nav-box{
        background: #FFFFFF;
        display: flex;
        align-items: center;
        
    }
    .web-style{
        color: #2196F3;
    }
    .studio-style{
        color: #000000;
    }
    .nav-items:not(:last-child){
        margin-right: 50px;
    }

    .nav-link:hover,
    .nav-link:focus{
        color: var(--theme-colour);
        }

    .nav-link{
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: var(--text-primary);}

    .active-page{
        color: var(--theme-colour);
        }
    .link-box{
        display: flex;
        margin-left: auto;
    }
    
    .link-box_mail,
    .link-box_phone{
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: var(--text-secondary); 
        }

    .link-box_mail:hover,
    .link-box_mail:focus,
    .link-box_phone:hover,
    .link-box_phone:focus{
        color: var(--theme-colour);
        }
    
    .link-box_mail{
        margin-right: 50px;
    }

    .hero-box{
        height: 600px;
        max-width: 1600px;
        background: #2F303A;
        margin: auto;
        padding-top: 200px;
    }

    .slogan-box{
        font-weight: 900;
        font-size: 44px;
        line-height: 1.3;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 696px;
        padding-bottom: 30px;
        }

    .button{
        width: 200px;
        height: 50px;
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-weight: bold;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        margin: auto;
        display: block;
        }

    .button:hover{
        color: #188CE8;
    }
  
        /* Стилизирование инструментов работы */

    .work-tools{ 
        margin: 0;
        padding-top: 94px;
    }
    
    .work-tools_box{
        display: flex;
        justify-content: space-between;
    }

    .work-tools_list{
        width: 270px;
        height: 101px;
    }
    .work-tools_name{
        font-weight: bold;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--text-primary);
        margin-bottom: 10px;
        }

    .work-tools_text{
        font-weight: normal;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color:  var(--text-secondary);
        }
    
    /* Чем занимаемся */

    
    .specification{
        margin-top: 94px; 
    }

    .specification-box{
        display: flex;
        margin-top: 50px;
    }
    .specification-list{
        width: 1200px;
        display: flex;
        justify-content: space-around;
        margin: 0px;
    }
    .specification-item{
        display: flex;
        display: inline-block;
        
    }
    
    /* Стилизироваие блока структуры команды */
        
    .team{
        background: #F5F4FA;
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .team-name{
        margin-bottom: 50px;
        
    }
    
    .team-member-name{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: var(--text-primary);
        padding-top: 30px;
        display: flex;
        justify-content: center;
        }

    .team-list{
        display: flex;
        justify-content: space-between;
        margin: 0px;
        
    }
    .team-item{
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px
        
    }
    .team-card{
        padding-bottom: 30px;
    }

    .team-member-specification{
        font-weight: normal;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: var(--text-secondary);
        padding-top: 10px;
        
        display: flex;
        justify-content: center;
        }

        /* Стилизирование футера */
    
    .footer{
        background: #2F303A;
        padding-top: 60px;
        padding-bottom: 60px
         }
     
    .logo-footer{
        display: inline-block;
        font-family: Raleway, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        margin-bottom: 20px;
        }

    .footer-link{
        display: inline-block;
        font-style: normal;
        font-weight: 400;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        }
    .location{
        color: #FFFFFF;
    }
    
    .footer-box{
        margin-bottom: 9px;
        }

    .footer-box:last-child {
        margin-bottom: 0;
        }

    .footer-link:hover,
    .footer-link:focus {
        color: #FFFFFF;
        }
    

    .studio-style-footer{
        font-weight: bold;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        }

    .logo-footer{
        font-weight: bold;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        }

    .web-style-footer{
        font-family: var(--secondary-font), sans-serif;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: #2196F3;
        }
      
    /* Стилизирование кнопок портфолио */

    .buttons{
        display: flex;
        justify-content: center;
        padding-top: 99px;
    }

    .button-portfolio{
        font-family: var(--primary-font);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        letter-spacing: 0.03em; 
        color: var(--text-primary);
        margin-right: 5px;
        padding-left: 22px;
        padding-right: 22px;
        height: 38px;
        background: #F5F4FA;
        border-radius: 4px;
        border: none;
    }

    .project{
        display: flex;
        flex-wrap: wrap;
        margin-top: 34px;
    }

    .project-name{
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--text-primary);
        
    }
   .project-work{
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.03em;
        color: var(--text-secondary);
        
    }
    .project-list{
        background: #FFFFFF;
       
        box-sizing: border-box;
        margin-bottom: 30px;
        margin-right: 30px;
    }
    .project-list:nth-child(3n+3) {
        margin-right: 0px;
    }
    
    .project-text{
       padding: 20px 24px 20px 24px; 
       border: 1px solid #EEEEEE;
    }
    .portfolio-box{
        
        padding-bottom: 89px;
    }
    
    
    
    